<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.shopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".app.AppController"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/MaterialDrawerTheme">

        <activity
            android:name=".app.ui.activity.ShopActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ui.activity.FeedListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus">
        </activity>

        <activity
            android:name=".app.ui.activity.ShoppingCartActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus">
        </activity>

        <activity
            android:name=".app.ui.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".app.ui.activity.ProductListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".app.ui.activity.ProductActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".app.ui.activity.ReviewListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".app.ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".app.ui.activity.CheckoutActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".app.ui.activity.ShippingAddressActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".app.ui.activity.OrderHistoryActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".app.ui.activity.OrderActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
        </activity>

    </application>

</manifest>
